## Ignore files, build results, and
## 


# User-specific files
example03/install_dir/oc.tar.gz
instrucoes.txt


# Exemplo Rust
example-rust
example-modelo

# Build results
[Dd]ebug/
[Rr]eleases/

instrucoes.txt